---
AlignEscapedNewlines: Left
AlignTrailingComments:
    Kind: Always
    OverEmptyLines: 0
BasedOnStyle: LLVM
BraceWrapping:
    AfterFunction: true
BreakBeforeBraces: Custom
BreakBeforeInheritanceComma: true
BreakConstructorInitializers: BeforeComma
ColumnLimit: 88
IndentPPDirectives: AfterHash
IndentRequiresClause: false
InsertNewlineAtEOF: true
IndentWidth: 4
LineEnding: LF
NamespaceIndentation: None
QualifierAlignment: Right
RemoveSemicolon: true
RequiresClausePosition: WithFollowing
RequiresExpressionIndentation: OuterScope
SpaceAfterTemplateKeyword: false
WrapNamespaceBodyWithEmptyLines: Always
